
@*@{
    ViewData["Title"] = "Home Page";
}
@Model.Username*@

@*<h1>hello @($"{Model.FullName}")</h1>*@

<h1 class="text-center">Welcome to the Library</h1>

<br />
<br />
<div>
    <button class="btn btn-block btn-primary" action="/SignUp">
        <span class="glyphicon glyphicon-log-in"></span> Sign Up</button>
    <button class="btn btn-block btn-info">
        <span class="glyphicon glyphicon-log-in"></span> Sign In</button>
</div>


@*<form method="get" action="/Home/AddABook">
    <input type="submit" value="Add A Book">
</form>*@
