@{
    ViewData["Title"] = "For Books Sake";
}
<br />
<br />
<body style="background-color:#222;">
    <div class="row text-center" style="width: 256px; background-color: #FFC045; margin:auto;">
        <img src="/images/logo.ico">

    <form method="post" class="text-center" action="/Home/VerifyUser">
        <p>
            Email: <input type="text" name="email" />
        </p>
        <p>
            Password: <input type="text" name="password" />
        </p>
        <input type="submit" value="Sign in">
    </form>
        <br />
        <br />
    
    <form method="get" class="text-center" action="/Home/Register">
        <input type="submit" value="Register">
    </form>
        <br />
        <br />
    </div>

</body>





