<h1>Sign Up</h1>

<form method="post" action="/Home/AddUser">
    <p>
        Full name: <input type="text" name="fullName" />
    </p>
    <p>
        Username: <input type="text" name="username" />
    </p>
    <p>
        Email: <input type="text" name="email" />
    </p>
    <p>
        Phone number: <input type="text" name="phoneNumber" />
    </p>
    <p>
        Password: <input type="text" name="password" />
    </p>
    <input type="submit" value="Submit">
</form>